.Weather{
border: 1px solid;
color:rgb(rgb(248, 246, 246), green, blue);
display: block;
padding: 16px;
margin: 30px auto;
max-width: 600px;
border-radius: 4px;
background-image: url(https://images.pexels.com/photos/2114014/pexels-photo-2114014.jpeg?cs=srgb&dl=pexels-magda-ehlers-2114014.jpg&fm=jpg);
background-size: cover;

}

.Weather h1{
display: block;
color: #fbf9f9;
font-size: 35PX;
font-family: Arial, Helvetica, sans-serif;
font-weight: 100PX;
line-height: 29PX;
margin: 20px;
}

.Weather ul{
margin: 0;
padding: 0;
color: #fbfafa;
}

.Weather li{
    list-style: none;
    font-size: 20px;
    font-weight: 100px;
    line-height: 19px;
}
.Weather canvas{
    margin-right: 10PX;
    margin-top: 5PX;
    display: inline-block;
}

.Weather img{
height: 64px;
width: 64px;
display: inline-block;
}

.Weather .temperature{
    font-weight: bold;
    font-size: 54px;
    font-weight: 400px;
    color: #fbf9f9;
}

.Weather .unit{
font-size: 16px;
font-weight: 400px;
position: relative;
line-height: 1;
top: -34px;
margin-left: 5px;
color: #fbf9f9;
}
.Weather .unit a{
    color: #fbf9f9;
    
}